<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<form th:Object="${request}" th:action="@{/users/{id}/password(id=${userId})}" method="post">
    <input type="hidden" name="_method" value="put">


    <div th:if="${error}">
        <p th:text="${error}">오류가 발생했습니다. </p>
    </div>

    <div>
        <label>현재 비밀번호: </label>
        <input type="password" id="currentPassword" th:field="*{currentPassword}" required>
    </div>
    <div>
        <label>새 비밀번호: </label>
        <input type="password" id="newPassword" th:field="*{newPassword}" required>
    </div>
    <div>
        <label>새 비밀번호 확인: </label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
    </div>

    <button type="button" th:onclick="|location.href='@{/users/{id}(id=${userId})}'|">
        취소
    </button>
    <button type ="submit">저장하기</button>
</form>
</body>
</html>